
<%- include('partials/header') %>
<table>

     
      <tr>
        <td colspan="3"><img src="/images/getstarted.png"></td>
    </tr>
    <tr>
        <td><a href="/tvshowrecs/5fc6593b5793e4807a7cce83"><img src="/images/comedylist.png"></a></td>
        <td><a href="/tvshowrecs/5fc65ad45793e4807a7cce84"><img src="/images/sci-filist.png"></a></td>
        <td><a href="/tvshowrecs/5fc666c75793e4807a7cce88"><img src="/images/animatedlist.png"></a></td>
    </tr>

  </table>
<%- include('partials/footer') %>