
<%- include('../partials/header') %>
<table id="list">
  <tbody>
        <tr>
          <td>Name:</td>
          <td><%= user.name %></td>
        </tr><tr>
          <td>Username: </td>
          <td><%= user.username %></td>
        </tr><tr>
          <td>My Show Lists: </td>
          <td></td>
        </tr>
        
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
