<%- include('../partials/header') %>

<form id="new-form" action="/tvshows" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Release Year:</label>
  <input type="text" name="releaseYear">
  <label>MPAA Rating</label>
  <select name="mpaaRating">
    <option value="TV-Y: All Children">TV-Y: All Children</option>
    <option value="TV-Y7: Directed to Older Children">TV-Y7: Directed to Older Children</option>
    <option value="TV-G: General Audience">TV-G: General Audience</option>
    <option value="TV-PG: Parental Guidance Suggested">TV-PG: Parental Guidance Suggested</option>
    <option value="TV-14: Parents Strongly Cautioned">TV-14: Parents Strongly Cautioned</option>
    <option value="TV-MA: Mature Audience Only">TV-MA: Mature Audience Only</option>
  </select>
  <label>TV Show Link:</label>
  <input type="text" name="tvshowlink">
  <label>Genre/Genres:</label>
  <input type="text" name="genre">
  <label>Where to Watch:</label>
  <input type="text" name="whereToWatch">
  <label>Image Link:</label>
  <input type="text" name="imageLink">
  <input type="submit" value="Add TV Show">
</form>

<%- include('../partials/footer') %>