
<%- include('../partials/header') %>

<form id="new-form" action="/tvshowrecs" method="POST">
  <label>List Title:</label>
  <input type="text" name="title">
  <label>List Description:</label>
  <input type="text" name="listDesc">
  <label>Image Link:</label>
  <input type="text" name="imageLink">
  <input type="submit" value="Add List">
</form>

<%- include('../partials/footer') %>