
<%- include('../partials/header') %>
<div>Movie:</div>

<form id="add-movie-item-form" method="POST"
action="/movielists/<%= movielist._id %>">
  <select name="movieId">
    <%- movies.map(m => `<option value="${m._id}">${m.title}</option>`).join('') %>
  </select>

</form>

<%- include('../partials/footer') %>